@model SubCategory
@{
    ViewData["Title"] = "Delete Category";
    Layout = "_Backend";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body confirm">
                <div class="card-header w-100">
                    <a asp-action="index">
                        <i class="fa-solid fa-arrow-left"></i> Go Back
                    </a>
                </div>
                <div class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
                <h3 class="text-center mt-3 mb-4">Do you Want to Delete Category <strong>"@Model.Name"</strong>?</h3>
                <form asp-action="delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger btn-lg"><i class="fa-solid fa-trash"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>