@model Banner
@{
    ViewData["Title"] = "Delete Banner";
    Layout = "_Backend";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body confirm">
                <div class="card-header w-100">
                    <a asp-action="index">
                        <i class="fa-solid fa-arrow-left"></i> Go Back
                    </a>
                </div>
                <div class="image">
                    <img class="w-100" src="~/Image/@Model.Image" />
                </div>
                <h3 class="text-center mt-3 mb-4">Do you Want to Delete Department <strong>"@Model.Title"</strong></h3>
                <form asp-action="delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger btn-lg"><i class="fa-solid fa-trash"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>