@model Banner
@{
    ViewData["Title"] = "Edit Banner";
    Layout = "_Backend";
}

<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Banner</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-action="edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="Id" type="hidden" class="form-control" />

                        <div class="form-group">
                            <label asp-for="Type"></label>
                            <input asp-for="Type" class="form-control" placeholder="i.e. Smart Watch"/>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Icon"></label>
                            <input asp-for="Icon" class="form-control" />
                            <span asp-validation-for="Icon" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Link"></label>
                            <input asp-for="Link" class="form-control" />
                            <span asp-validation-for="Link" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center" style="border: 1px solid #ddd; padding: 10px">
                            <label class="d-block">Image</label>
                            <img src="~/Image/@Model.Image" id="imageFilePreview" style="width: 100px" />
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageFile"></label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
  
</div>

@section Scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageFilePreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });
    </script>
}

