@{
    ViewData["Title"] = "Not Found";
    Layout = "_Backend";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-body">
                <img style="width: 400px" src="~/backend/images/404 Error with a cute animal-rafiki.svg" />
                <h2 class="text-black">The <strong class="text-danger">Category</strong> you are searching for not found!!</h2>
                <hr />
                <a class="btn btn-primary btn-lg text-white" asp-controller="category" asp-action="index">All Categories</a>
            </div>
        </div>
    </div>
</div>