<div class="header-action">
    <ul class="action-list">

        @if (ViewData["Title"] != "Home")
        {
            <li class="axil-search d-xl-block d-none">
                <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="What are you looking for?" autocomplete="off">
                <button type="submit" class="icon wooc-btn-search">
                    <i class="flaticon-magnifying-glass"></i>
                </button>
            </li>
            <li class="axil-search d-xl-none d-block">
                <a href="javascript:void(0)" class="header-search-icon" title="Search">
                    <i class="flaticon-magnifying-glass"></i>
                </a>
            </li>
        }
        
        <li class="wishlist">
            <a href="wishlist.html">
                <i class="flaticon-heart"></i>
            </a>
        </li>
        <li class="shopping-cart">
            <a href="#" class="cart-dropdown-btn">
                <span class="cart-count">3</span>
                <i class="flaticon-shopping-cart"></i>
            </a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <li class="my-account">
                <a href="javascript:void(0)">
                    <i class="flaticon-person"></i>
                </a>
                <div class="my-account-dropdown">
                    <span class="title">QUICKLINKS</span>
                    <ul>
                        <li>
                            <a href="my-account.html">My Account</a>
                        </li>
                        <li>
                            <a href="#">Initiate return</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <a href="#">Language</a>
                        </li>
                    </ul>

                    <a class="axil-btn btn-bg-primary" href="javascript:void(0)" onclick="document.getElementById('logout').submit();">
                        <i class="icon-key"></i>
                        <span class="ml-2">Logout </span>
                    </a>
                    <form asp-controller="Account" asp-action="Logout" id="logout">
                    </form>
                    
                </div>
            </li>
        }
        else
        {
            <li class="my-account">
                <a asp-controller="account" asp-action="login">
                    <i class="flaticon-person"></i>
                </a>
                
            </li>
        }

        <li class="axil-mobile-toggle">
            <button class="menu-btn mobile-nav-toggler">
                <i class="flaticon-menu-2"></i>
            </button>
        </li>
    </ul>
</div>