<div class="header-main-nav">
    <!-- Start Mainmanu Nav -->
    <nav class="mainmenu-nav">
        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
        <div class="mobile-nav-brand">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <img src="assets/images/logo/logo.png" alt="Site Logo">
            </a>
        </div>

        <ul class="mainmenu">
            <li><a asp-controller="home" asp-action="index" id="Home">Home</a></li>
            <li><a asp-controller="shop" asp-action="index" id="Shop">Shop</a></li>
            <li><a asp-controller="about" asp-action="index" id="About">About</a></li>
            <li><a asp-controller="blog" asp-action="index" id="Blog">Blog</a></li>
            <li><a asp-controller="contact" asp-action="index" id="Contact">Contact</a></li>
        </ul>

    </nav>
    <!-- End Mainmanu Nav -->
</div>