<div class="header-top-campaign">
    <div class="container position-relative">
        <div class="campaign-content">
            <div class="campaign-countdown"></div>
            <p>Open Doors To A World Of Fashion Get <a href="#">Get Your Offer</a></p>
        </div>
    </div>
    <button class="remove-campaign"><i class="fal fa-times"></i></button>
</div>



