@model Department
@{
    ViewData["Title"] = "Add New Department";
    Layout = "_Backend";
}


<!-- row -->

<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add New Department</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-action="create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Slug"></label>
                            <input asp-for="Slug" class="form-control" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageFile"></label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
  
</div>

@section Scripts{

    <script>
        $("#Name").keyup(function () {
            console.log("click");
            var Text = $(this).val();
            Text = Text.toLowerCase();
            Text = Text.replace(/[^a-zA-Z0-9]+/g, '-');
            $("#Slug").val(Text);
        });
    </script>
}
